{% extends "default.html" %}
{% set active_page = "sessions" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sessions</title>
{% endblock %}


{% block content %}

    <div class="container">
        <form class="form-inline justify-content-center" action="javascript:;" onsubmit="add_session(this)" method="POST">
            <div class="form-group mr-3">
                <label class="sr-only" for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" name='name' placeholder="Session name">
            </div>
            <div class="form-group mr-3">
                <label class="sr-only" for="inputDescription">Description</label>
                <input type="text" class="form-control" id="inputDescription" name='description' placeholder="Session description">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

    <div id='session-list' class="container"></div>

    {{ super() }}

    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="/static/build/sessions.js"></script>

    <!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> -->
    <!-- <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
    <!-- <script type="text/babel" src="static/src/sessions.jsx"></script> -->
{% endblock %}
